<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CryptoTFG{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/criptomonedas.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block navbar %}
    <!-- Aquí puedes poner una navbar común si quieres -->
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
